/* место для вашего кода */

.header {
  padding: 92px 24px 96px;
}

.header__menu {
  display: grid;
  grid-template-columns: 2fr 0fr 2fr;
}

.header__links_list {
  display: flex;
  gap: 33px;
  padding: 44px 36px 39px 27px;
}

.header__links_list-item {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  text-underline-offset: 4px;
  list-style: circle;
}

.header__links_list .header__links-list-item_no-bullit {
  list-style: none;
}

.header__links_list-item .header__link_active {
  text-decoration: none;
}

.header__logo {
  display: flex;
  width: 148px;
}

.address {
  display: flex;
  flex-direction: column;
  padding: 6px 25px 2px 187px;
  line-height: 24.3px;
}

.header__address {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  z-index: -2;
  width: 100%;
  height: 757px;
  background-image: url('../images/cover.jpg');
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.5);
}

.cover__title {
  display: grid;
  padding: 0 50px 0;
  padding-top: 165px;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.aligned-text_center {
  padding-top: 12px;
  text-align: center;
}

.aligned-text_right {
  padding-top: 5px;
  letter-spacing: 0.6em;
  text-align: right;
}

.letter-spacing-extended-unical {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: end;
  align-items: center;
  padding: 128px 51px 0px 49px;
}

.cover__description-text {
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18.6px;
}

.bet-button {
  border: 1px solid white;
  padding: 12px 32px 11px 31px;
  color: white;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}
